{
  "env": {
    "jest/globals": true
  },
  "extends": ["airbnb","react-app"],
  "globals": {
    "page": true,
    "document": true
  },
  "parser": "babel-eslint",
  "plugins": ["jest"],
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": "off",
    "react/default-props-match-prop-types": "warn",
    "react/destructuring-assignment": "warn",
    "react/forbid-prop-types": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-this-in-sfc": "warn",
    "react/prop-types": "warn",
    "react/require-default-props": "warn",
    "require-jsdoc": ["warn", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true,
        "ArrowFunctionExpression": true,
        "FunctionExpression": true
      }
    }],
    "no-underscore-dangle": "off",
    "react/prefer-stateless-function": "off",
    "sort-keys": "warn",
    "react/jsx-props-no-spreading": "off",
    "arrow-parens": "off",
    "import/no-anonymous-default-export": "off"
  }
}
